# R project files, other settings files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
.vscode

# Files too large for git
1_raw/food_systems_data_warehouse
1_raw/nass
1_raw/spatial
1_raw/arms
1_raw/bls
1_raw/county_health_rankings
1_raw/usda/ers_wealth_and_income/
1_raw/cdc/
1_raw/ebird/
1_raw/inaturalist/
1_raw/usda/rma/
1_raw/usfs

# More large files
5_objects/spatial/
2_clean/spatial/
5_objects/spatial/rasters/

# Temp scripts that are not worth saving
4_scripts/explore.R
temp/
webdb/

# Environment files
.venv
renv
